/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  background-color: #FFF;
  align-items: center;
  padding: 92px 50px 91px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 100%;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  Width: 148px;
  Height: 105px;
  Top: 92px;
  Left: 478px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 100%;
  padding-bottom: 7px;
}


.header__address {
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  /*Height:98px;
    /*Top: 95px;
    Left: 810px;
    Border: 1px;
    row-gap: 0px;*/
  /*position: relative;*/
}

.address {
  font-Weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  Font-style: normal;

}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  display: flex;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  word-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: left;
  font-size: 100px;
  z-index: 2;
}

.aligned-text_center {
  display: block;
  text-align: center;
  font-size: 100px;
  z-index: 2;
  margin-top: 21px;
  margin-left: 30px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  font-size: 100px;
  z-index: 2;
  margin-top: 20px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  word-spacing: 19px;
  z-index: 2;
  margin-top: 105px;
}

.cover__description-text {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #fff;
  z-index: 2;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  margin-top: 15px;
}

.bet-button {
  border: 1px solid #FFF;
  min-width: 256px;
  min-height: 50px;
  z-index: 2;
  color: #fff;
  font-weight: normal;
  background-color: transparent;
  font-size: 22px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}



.lots {
  display: flex;
  flex-direction: column;
}

.lots__heading {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  margin-left: 64px;
  margin-bottom: 27px;
  margin-top: 181px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  margin-left: 24px;
  margin-right: 24px;
}

.card {
  position: relative;
  justify-content: space-between;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
  z-index: 2;
}

.card-link {
  text-decoration-color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 2;
}

.lots__card-list-item {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 334px;
  height: 100%;
}

.lots__look-more-link {
  display: flex;
  margin-left: 64px;
  margin-top: 33px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.about {
  display: grid;
  grid-template-columns: 287px 740px;
  gap: 24px;
}

.about__column {
  padding: 35px 0px 0px 47px;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  right: 765px;
  margin-top: 155px;
  margin-left: 71px;
  padding: 64px 45.52px 62px 46.48px;
}

.about__title {
  margin-top: 223px;
  margin-left: 25px;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin-left: 25px;
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  Letter-spacing: 0%;
}

.about__text-decription {
  margin-bottom: 22px;
}

/*.about__text-decription-2 {
    margin-top: 25px;
    margin-left: 72px;
    font-weight: 400;
    font-Size: 20px;
    line-height: 24px;
    letter-spacing: 0%
}*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #FFF;
  align-items: center;
  margin-bottom: 90px;
}

.footer__address {
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-self: left;
  margin-top: 158px;
  margin-left: 50px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  align-items: center;
  margin-top: 130px;
}

.footer__links-list-item {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  line-height: 100%;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
  margin-top: 120px;
  margin-right: 49px;
}

.footer__social-image {
  width: 48px;
  min-height: 48px;
  border-radius: 12px;
}